/*correccion pagina 1*/
.primerbarra{
  background-color: rgb(89,89,91);
  position: relative;
  width: 101.4%;
  height: 100px;
}
.primercosa{
  background-color: rgb(255,74,0);
  position: relative;
  align-items: center;
  display: flex;
  width: 65%;
  height: 60px;
  margin: 20px;
}
.segundacosa{
  background-color: white;
  position: relative;
  width: 90%;
  height: 45px;
  margin: 30px;
}
.tercercosa{
  background-color: white;
  position: relative;
  width: 90%;
  height: 45px;
  margin: 30px;
}
.cuartacosa{
  background-color: rgb(230,163,50);
  position: relative;
  width: 90%;
  height: 45px;
  margin: 30px;
}
.grayfondo{
  background-color: #414143;
  height: 100vh;
  width: 120%;
}
.cuadradoone{
  background-color: rgb(255,74,0);
  width: 35%;
  height: 200px;
  margin: 30px;
}
.pol{
  text-align: left;
  margin-left: 28px;
}
.cuadradotwo{
  background-color: #e6a233;
  width: 25%;
  height: 200px;
  margin: 30px;
}
.fondogray{
  background-color: #6d6e72;
  width: 95%;
  height: 100vh;
}
/*pagina 2*/
{
  box-sizing: border-box;
}
body{
  margin: auto;
  background-color: rgb(40,37,37);
}
.padre2{
  background-color: rgb(89,89,91);
  position: relative;
  width: 101.5%;
  height: 300px;
}
.cuadroamarillo{
  background-color: rgb(230,163,50);
  position: relative;
  width: 200px;
  height: 200px;
  margin: 50px;
}
.parrafo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
 }
 .cajagris{
  background-color: rgb(65,64,69);
  position: relative;
  width: 100vh;
  height: 400px;
  margin-top: 50px;
}
.cajagris2{
  background-color: rgb(65,65,67);
  right: 5vh;
  width: 30%;
  height: 1000px;
  position: absolute;
}
.cuadrorojo1{
  background-color: rgb(196,31,62);
  position: relative;
  width: 130px;
  height: 130px;
  margin: 50px;
} 
.cuadrorojo2{
  background-color: rgb(236,28,35);
  position: relative;
  width: 130px;
  height: 130px;
  margin: 50px;
}
.cuadrorojo3{
  background-color: rgb(204,31,40);
  position: relative;
  width: 130px;
  height: 130px;
  margin: 50px;
}  
.subti1{
  left: 150px;
  position: absolute;
}
.text1{
  top: 40px;
  left: 150px;
  position: absolute;
}
.cuadrorojo4{
  background-color: rgb(241,90,80);
  position: relative;
  width: 130px;
  height: 130px;
  margin: 50px;
} 
.textone{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;

}
.textosub{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.rectangorangi{
  background-color: rgb(89,89,81);
  display: flex;
  width: 100%;
  height: 10em;
}
/*Pagina 3*/
{
  box-sizing: border-box;
}
body{
  margin: auto;
  background-color: rgb(40,37,37);
}
.padre3{
  background-color: rgb(89,89,91);
  position: relative;
  width: 101.7%;
  height: 100px;
}
.barra4{
  background-color: white;
  position: absolute;
  width: 15vh;
  height: 40px;
  margin: 30px;
  border: 10px;
}
.barra5{
  background-color: gray;
  position: absolute;
  width: 50px;
  height: 40px;
  margin: 30px;
  left: 1030px;
}
.barra6{
  background-color: gray;
  position: absolute;
  width: 50px;
  height: 40px;
  margin: 30px;
  left: 1110px;
}
.barra7{
  background-color: white;
  position: absolute;
  width: 280px;
  height: 40px;
  margin: 30px;
  left: 1190px;
}
.barra8{
  background-color: orange;
  position: absolute;
  width: 50px;
  height: 40px;
  margin: 30px;
  left: 1450px;
}
.cuadroytexto{
  background-color: rgb(194,32,64);
  position: relative;
  width: 100px;
  height: 100px;
  margin: 50px;
}
.parrafo3{
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
} 
.titu32{
  font-size: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
} 
.cuadrogris1{
  background-color: rgb(65,65,67);
  position: relative;
  width: 75em;
  height: 50vh;
  margin: 50px;
}
 .parrafocaja{
  display: flex;
  justify-content: center;
 }
 .rectangorangn{
  position: relative;
  right: 60px;
  background-color: rgb(65,65,67);
  display: flex;
  width: 100%;
  height: 5em;
}
 .rectangorangm{
  position: relative;
  right: 60px;
  background-color: rgb(87,89,91);
  display: flex;
  width: 100%;
  height: 5em;
}
 .rectangorangb{
  position: relative;
  right: 60px;
  background-color: rgb(112,111,116);
  display: flex;
  width: 100%;
  height: 5em;
}
/*Pagina 4*/
{
  box-sizing: border-box;
}
body{
  margin: auto;
  background-color: rgb(40,37,37);
}
.texto{
  font-size: 14px;
}
.tituloo{
  font-size: 20px;
}
.cuadrogranderojo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(196,31,62);
  width: 100%;
  height: 65vh;
  margin: 15px;
  padding: 10px;
}
.triangle1{
  width: 0; 
  height: 0; 
  border-left: 88px solid white;
  border-top: 65px solid transparent;
  border-bottom: 65px solid transparent;
}













































/*pagina 5*/
{
  box-sizing: border-box;
}
body{
  margin: auto;
  background-color: rgb(40,37,37);
}
header{
    background-color: #404042;
    width: 100%;
    / define altura de pantalla*/
    height: 50vh;
}
.distribucion{
    display: flex;
}
.cajaroja{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c21d3d;
    width: 100%;
    height: 45vh;
    margin: 15px;
    padding: 10px;
}
.triangle{
     width: 0; 
     height: 0; 
     border-left: 78px solid white;
     border-top: 45px solid transparent;
     border-bottom: 45px solid transparent;
 }
 h1{
     color: white;
     text-align: center;

 }
 p{
     color: white;
 }
 .cajaparrafo{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 30px;
 }
 .rectangorange{
     background-color: orange;
     display: flex;
     width: 100%;
     height: 10em;
 }
 .cajader{
     background-color: #404042;
 }
 h2{
     color: white;
 }

 /*pagina 6*/
 {
  box-sizing: border-box;
}
body{
  margin: auto;
  background-color: rgb(40,37,37);
}
.distribucion2{
  background-color:rgb(89,89,91);
  display:flex;
  align-items: center;
  height: 5em;
}
.cuadrogris{
  background-color:gray;
  width:100%;
  height:60%;
  padding: 10px;
}
.cuadroblanco{
  background-color:white;
  width: 100%;
  height: 60%;
  padding: 10px;
}
.cuadrorange{
  background-color: orange;
  width:100%;
  height:60%;
  padding: 10px;
}
.asd{
  background-color: #2b2b2d;
  display: flex;
  height: 70vh;
}
.oraange{
  background-color: orange;
  color:white;
}
.carousel-item2{
 background-color: rgb(65,65,67);
  position: relative;
  width: 75em;
  height: 70vh;
}
.k{
  position: relative;
  right: 60px;
  background-color: orange;
  display: flex;
  width: 100%;
  height: 10em;
}
.l{
  position: relative;
  right: 60px;
}
.p{
  background-color: rgb(44,44,46);
}









 /*Pagina 7*/
{
  box-sizing: border-box;
}
body{
  margin: auto;
  background-color: rgb(40,37,37);
}
.cuadrograngriss{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 100%;
  height: 65vh;
  margin: 15px;
  padding: 10px;
}
.cuadroblancoo{
  background-color:white;
  width: 50vh;
  height: 8%;
}
.cuadrorangez{
  position: absolute;
  right: 550px;
  background-color: orange;
  width: 5vh;
  height: 5%;
}
.cuadroamarilloo{
  background-color: rgb(230,163,50);
  position: relative;
  width: 250px;
  height: 250px;
  margin-top: 25px;
}
.parrafo8{
 display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}
.cuadrogrisop{
  margin: 25px;
  margin-left: 100px;
  background-color: gray;
  position: relative;
  width: 80px;
  height: 80px;
}
.po{
  margin-top: 15px;
  font-size: 80%;
}
.qaz2{
  margin-left: 30px;
}

/*Pagina 8*/

.cuadrograngrisss{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 100%;
  height: 60vh;
  margin: 15px;
  padding: 10px;
}
.cuadritochiqui{
  margin-right: 300px;
  background-color: rgb(65,65,67);
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 500px;
}
.cuadritochiqui2{
  margin-left: 100px;
  background-color: rgb(65,65,67);
  position: relative;
  width: 50px;
  height: 50px;
}
.cuadritochiqui3{
  margin-left: 100px;
  background-color: rgb(65,65,67);
  position: relative;
  width: 50px;
  height: 50px;
}
.cuadritochiqui4{
  margin-left: 100px;
  background-color: rgb(65,65,67);
  position: relative;
  width: 50px;
  height: 50px;
}
.naranjaa{
  color: orange
}
.cuadritochiquito{
  margin: 20px;
  background-color: rgb(65,65,67);
  position: relative;
  width: 80px;
  height: 80px;
}
.cuadritochiquito1{ 
  margin: 20px;
  background-color: rgb(87,89,91);
  position: relative;
  width: 80px;
  height: 80px;
}
.cuadritochiquito2{
  margin: 20px;
  background-color: rgb(108,110,114);
  position: relative;
  width: 80px;
  height: 80px;
}
.parrafoo{
  margin-top: 150px;
}
.alineacion{
  display: flex;
  align-items: center;
  justify-content: center;
}
.alineacion2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cuadritochiquito3{
  margin: 20px;
  background-color: gray;
  position: relative;
  width: 80px;
  height: 80px;
}
.cuadritochiquito4{ 
  margin: 20px;
  background-color: gray;
  position: relative;
  width: 80px;
  height: 80px;
}
.cuadritochiquito5{
  margin: 20px;
  background-color: gray;
  position: relative;
  width: 80px;
  height: 80px;
}
/*Pagina 9 */
.naranjaa2{
  color: orange;
  text-align: left;
}
.pñgris{
  margin: 20px;
  background-color: rgb(65,65,67);
  position: relative;
  width: 150px;
  height: 150px;
}
.grislargo{
  margin: 20px;
  background-color: rgb(44,44,46);
  position: relative;
  width: 80%;
  height: 150px;
}
.tituliyos{
  color: orange;
}
